<ul class="breadcrumb">
    <li><a href="#/bookmarks/index">Home</a></li>
    <li class="active">View</li>
</ul>
<h2>
	<%= title %>
	<small><a href="<%= url %>"><%= url %></a></small>
</h2>
<p><%= description %></p>
<hr/>
<a class="btn btn-info btn-block" href="#bookmark/<%= id %>/edit">Edit Bookmark</a>