<td>
    <a href="#/bookmark/<%= id %>/view"><%= title %></a>
</td>
<td>
	<a href="<%= url %>"><%= url %></a>
</td>
<td><%= description %></td>
<td>
    <a href="#" class="delete btn btn-danger btn-xs">delete</a>
</td>